*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "DM Sans", sans-serif;
}
.top{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: rgb(18, 18, 18);
    border-bottom: 1px solid rgb(30, 30, 30);
}
.logo{
    background-image: url("./assets/crown.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    margin: 0 20px;
}
.strategistWord{
    font-family: "Playfair Display", serif;
}
.topWord{
    font-size: 20px;
    color: white;
}
.main{
    width: 100%;
    height: 12vh;
    background-color: rgb(15, 15, 15);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topSec{
    width: 55%;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 20px 0 0 0;
    margin: 10px 0;
    justify-content: space-between;
    border-bottom: 2px solid rgb(30, 30, 30);
}
.main h1{
    font-family: "Playfair Display", serif;
}
.btn{
    width: 100px;
    height: 40px;
    border-radius: 15px;
    background-color: orange;
    border: 4px solid transparent;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-weight: 500;
}
.topSec span{
    font-size: 22px;
}
.topSec p{
    color: grey;
    margin-bottom: 20px;
}
.tasksBar{
    width: 100%;
    height: 78vh;
    background-color: rgb(15, 15, 15);
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
}
.btn-primary{
    width: 150px;
    font-size: 15px;
    transition: 0.2s;
}
.targetLogo{
    height: 64px;
    width: 64px;
    background-image: url("./assets/target.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 60px 0 0 0;
}
.topText{
    font-family: "Playfair Display", serif;
    color: white;
    font-size: 20px;
    margin: 15px 0 5px 0;
}
.bottomText{
    width: 330px;
    color: grey;
    font-size: 15px;
    text-align: center;
    margin: 0 0 15px 0;
}
.overlay{
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
}
.inputCard{
    width: 30%;
    height: auto;
    background-color: rgb(17, 17, 17);
    border-radius: 20px;
    animation: scaleAnimate 0.3s forwards;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 60px 20px;
    position: absolute;
}
@keyframes scaleAnimate {
    from{
        transform: scale(0.8);
    }
    to{
        transform: scale(1);
    }
}
.title{
    color: white;
    font-size: 25px;
    font-family: "Playfair Display", serif;
}
.goalTitle{
    font-size: 15px;
    color: grey;
    margin: 20px 0 5px 0;
}
.goalInput{
    width: 100%;
    height: 40px;
    font-size: 20px;
    color: white;
    border-radius: 14px;
    padding: 10px;
    background-color: rgb(23, 23, 23);
    border: 2px solid rgb(35, 35, 35);
}
.modePlatform{
    width: 100%;
    height: 60px;
    margin: 15px 0 0 0;
    display: flex;
    align-items: center;
    color: grey;
    font-size: 8px;
}
.modeInput{
    margin: 5px 20px 0 0;
}
.platformInput{
    margin: 5px 0 0 0;
}
.input{
    width: 200px;
    height: 40px;
    border-radius: 14px;
    color: white;
    padding: 5px;
    background-color: rgb(23, 23, 23);
    border: 2px solid rgb(35, 35, 35);
}
.ratingDuration{
    width: 100%;
    height: 60px;
    margin: 20px 0 0 0;
    display: flex;
    align-items: center;
    color: grey;
    font-size: 8px;
}
.durationInput{
    width: 77px;
    margin: 10px 0 0 0;
    padding: 8px;
}
.ratingInput{
    margin: 10px 20px 0 0;
    padding: 7px;
}
.dateInput{
    width: 110px;
    margin: 10px 0 0 10px;
}
.checkFide{
    width: 100%;
    height: auto;
    border-radius: 13px;
    border: 2px solid rgb(22, 22, 22);
    margin: 30px 0 0 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white;
}
.checkFide #fide{
    width: 27px;
    height: 27px;
    margin: 0 10px 0 0;
}
.checkFide label{
    display: flex;
    align-items: center;
    justify-content: center;
}
.timeDate{
    display: flex;
}
.checkFide label h1{
    font-size: 20px;
}
.checkFide label p{
    font-size: 15px;
    margin: 7px 0 0 0;
    color: grey !important;
}
.btns{
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 20px;
    gap: 10px;
}
.cancelBtn{
    width: 100px;
    background-color: transparent;
    color: white;
    transition: 0.4s;
}
.cancelBtn:hover{
    background-color: rgb(27, 27, 27);
}
.saveBtn{
    width: 150px;
    transition: 0.2s;
}
.hoverBtn{
    transition: 0.2s;
}
.saveBtn:hover, .hoverBtn:hover, .btn-primary:hover{
    box-shadow: 0 7px 15px rgba(255, 166, 0, 0.2);
}
.animate{
    animation: closePage 0.17s forwards;
}
@keyframes closePage {
    to{
        transform: scale(0.9);
        opacity: 0;
    }
}
.inputTitle{
    font-size: 20px;
    margin: 10px 0;
}
.fideInputSpace{
    width: 200px;
}
.fideRatingInput{
    font-size: 15px;
    padding: 0 0 0 10px;
}
.dateTitle{
    font-size: 13px;
    color: orange;
    margin: 20px 0 0 0;
}
.dateDesc{
    font-size: 11px;
    color: grey;
}
.dateSec{
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.dateInputOwn{
    width: 75px;
    margin: 0 20px 0 0;
}
.dateSelect{
    width: 100px;
}
.card{
    width: 55%;
    height: 200px;
    background-color: rgb(21, 21, 21);
    margin: 10px 0;
    border-radius: 15px;
    display: flex;
    transition: 0.6s;
    cursor: pointer;
}
.card:hover{
    border: 1px solid orange;
}
.leftSec{
    width: 50%;
    height: auto;
    padding: 10px 0 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.rightSec{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px 10px 0 0;
}
.logoDiv{
    width: 40px;
    height: 40px;
    border-radius: 15px;
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoImg{
    width: 60%;
    height: 60%;
    background-size: contain;
    background-repeat: no-repeat;
}
.titleOfCard{
    font-size: 14px;
    color: white;
}
.dateOfCard{
    width: 230px;
    height: 17px;
    font-size: 13px;
    padding: 0 0 0 21px;
    background-image: url("./assets/date.png");
    background-size: contain;
    background-repeat: no-repeat;
    color: grey;
}
.ratingText{
    font-size: 15px;
    color: grey;
    margin: 15px 0 1px 0;
}
.ratingNum{
    font-size: 25px;
    color: white;
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 600;
}
.ratingChange{
    font-size: 14px;
}
.platformTitle{
    height: 24px;
    font-size: 15px;
    color: grey;
    display: flex;
    align-items: center;
    gap: 10px;
}
.nextLogo{
    width: 12px;
    height: 12px;
    background-image: url("./assets/rightArrow.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.timeLeft{
    width: 120px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 15px 0 0;
}
.time{
    color: white;
    font-size: 23px;
    font-weight: 600;
}
.timeText{
    color: grey;
    font-weight: 400;
    font-size: 13px;
}
.spanFide{
    color: orange;
}
.increase{
    font-size: 17px;
    color: lightGreen;
}
.decrease{
    font-size: 17px;
    color: red;
}


@media screen and (max-width: 767px) {
    .main h1{
        font-size: 25px;
    }
    .topSec{
        width: 90%;
        padding: 0 10px;
        border: none;
    }
    .btn-primary{
        width: 200px;
        height: 50px;
    }
    .inputCard{
        width: 90%;
        max-width: 450px;
        max-height: 100vh;
    }
    .goalTitle{
        margin: 10px 0 5px 0;
    }
    .modeInput, .platformInput{
        width: 145px;
    }
    .ratingInput{
        width: 140px;
    }
    .durationInput{
        width: 55px;
    }
    .dateInput{
        width: 80px;
    }
    .checkFide{
        margin: 15px 0 0 0;
        padding: 10px;
    }
    .dateTitle{
        margin: 10px 0 0 0;
    }
    .inputTitle{
        font-size: 18px;
    }
    .checkFide label p{
        font-size: 12px;
    }
    .card{
        width: 90%;
        max-width: 500px;
    }
}